.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  mat-card {
    width: 400px;
  }
  
  .login-actions {
    text-align: right;
  }
  